.buyers-table-wrapper{
    padding: 40px;
}

.buyers-table{
    width: 100%;
}

.buyers-item, th{
    text-align: left;
    color: #fff;
    font-family: 'Roboto';
}

.message{
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}