.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 125px);
}

.buy-form{
    width: 50%;
    padding: 20px;
}

.title-buy{
    color: #fff;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: 3em;
}

.title-buy span{
    font-size: 1em;
    vertical-align: middle;
}

.btn-buy{
    cursor: pointer;
    padding: 12px;
    background: #2d3436;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-top: 5px;
    width: 100%;
}