.vehicles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 120px);
}

.vehicles-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

.vehicles-form-title{
    color: #fff;
    font-family: 'Roboto Condensed';
    text-align: center;
}

.vehicles-form-title span{
    font-size: 1em;
    vertical-align: middle;
}